{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Cliente</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCliente/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="ID Cliente" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="email" id="txtcorreo" name="txtcorreo" class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" placeholder="Teléfono" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="txtfecha" name="txtfecha" class="form-control" placeholder="Fecha Registro" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txttipo" name="txttipo" class="form-control" placeholder="Tipo Cliente" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/clientes.jpeg' %}" width="400" height="400" alt="">
        <h1>Listado de Clientes</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Fecha Registro</th>
                        <th>Tipo Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in mis_clientes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.id_cliente }}</td>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.correo }}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>{{ c.fecha_registro }}</td>
                        <td>{{ c.tipo_cliente }}</td>
                        <td>
                            <a href="seleccionarCliente/{{ c.id_cliente }}" class="btn btn-info">Editar</a>
                            <a href="borrarCliente/{{ c.id_cliente }}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
