{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarPago/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ mispagos.id_pago }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtpedidos" name="txtpedidos" class="form-control" value="{{ mispagos.id_pedidos }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="datepago" name="datepago" class="form-control" value="{{ fecha_pago }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" step="0.01" id="txtmonto" name="txtmonto" class="form-control" value="{{ mispagos.monto }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtmetodo" name="txtmetodo" class="form-control" value="{{ mispagos.metodo_pago }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtestado" name="txtestado" class="form-control" value="{{ mispagos.estado_pago }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txttransaccion" name="txttransaccion" class="form-control" value="{{ mispagos.transaccion }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
