{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Producto</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="ID de Producto" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group py-3">
                        <textarea id="txtdescripcion" name="txtdescripcion" class="form-control" placeholder="Descripción" required></textarea>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" step="0.01" id="txtprecio" name="txtprecio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtstock" name="txtstock" class="form-control" placeholder="Stock" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtcategoria" name="txtcategoria" class="form-control" placeholder="ID de Categoría" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtproveedor" name="txtproveedor" class="form-control" placeholder="ID de Proveedor" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/productos.jpeg' %}" width="400" height="400" alt="">
        <h1>Listado de Productos</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Producto</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>ID Categoría</th>
                        <th>ID Proveedor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in misproductos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ producto.id_producto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.id_categoria }}</td>
                        <td>{{ producto.id_proveedor }}</td>
                        <td><a href="seleccionarProducto/{{ producto.id_producto }}" class="btn btn-info">Editar</a>
                        <a href="borrarProducto/{{ producto.id_producto }}" class="btn btn-danger">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
