{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Categoría</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCategoria/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="ID de Categoría" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre de Categoría" required>
                    </div>
                    <div class="form-group py-3">
                        <textarea id="txtdescripcion" name="txtdescripcion" class="form-control" placeholder="Descripción" rows="3" required></textarea>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txttipo" name="txttipo" class="form-control" placeholder="Tipo de Categoría" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="datecreacion" name="datecreacion" class="form-control" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtestado" name="txtestado" class="form-control" placeholder="Estado de Categoría" required>
                    </div>
                    <div class="form-group py-3">
                        <textarea id="txtproductos" name="txtproductos" class="form-control" placeholder="Productos Asociados" rows="3" required></textarea>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/categorias.jpeg' %}" width="400" height="400" alt="">
        <h1>Listado de Categorías</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Fecha Creación</th>
                        <th>Estado</th>
                        <th>Productos Asociados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in miscategorias %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ categoria.id_categoria }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>{{ categoria.tipo_categoria }}</td>
                        <td>{{ categoria.fecha_creacion }}</td>
                        <td>{{ categoria.estado_categoria }}</td>
                        <td>{{ categoria.productos_asociados }}</td>
                        <td><a href="seleccionarCategoria/{{ categoria.id_categoria }}" class="btn btn-info">Editar</a>
                        <a href="borrarCategoria/{{ categoria.id_categoria }}" class="btn btn-danger">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
