{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarProveedor/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ mi_proveedor.id_proveedor }}" readonly>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ mi_proveedor.nombre }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtcontacto" name="txtcontacto" class="form-control" value="{{ mi_proveedor.contacto }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" value="{{ mi_proveedor.telefono }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="email" id="txtcorreo" name="txtcorreo" class="form-control" value="{{ mi_proveedor.correo }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ mi_proveedor.direccion }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="txtfecha" name="txtfecha" class="form-control" value="{{ fecha_registro }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
